<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
      </authentication>
    </security>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="c:\Program Files\nodejs\node.exe"
      arguments="server.js"
      startupTimeLimit="60"
      startupRetryCount="2"
      stdoutLogEnabled="true"
      stdoutLogFile="./log.txt">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="NEXT_SWC_PATH" value="h:\root\home\rabiussaim-001\www\royalzone\AppData\Local" />
        <environmentVariable name="LOCALAPPDATA" value="h:\root\home\rabiussaim-001\www\royalzone\AppData\Local" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
